.git
.github
.DS_Store
.pytest_cache
.mypy_cache
.ruff_cache
.pycache_compile
__pycache__
*.pyc
*.pyo
*.pyd
.env
.coverage
.coverage.*
tests
instance
venv
.venv
htmlcov
static/uploads
logs
tmp
temp
exports
